<div mat-dialog-content *ngIf="data">
  <div [id]="data.id">
    <h2 class="joke-text">
      {{ data.jokeText }}
    </h2>
    <div class="modal-joke-details">
      <p>category: {{ data.category }}</p>
      <p>type: {{ data.type }}</p>
    </div>
    <ng-container *ngIf="data.flags && data.flags.length">
      <div class="modal-flags">
        <p>For your attention: this joke is&nbsp;</p>
        <ng-container
          *ngIf="data.flags.length <= 1; then singleFlag; else multiFlags"
        >
        </ng-container>
        <ng-template #singleFlag>
          <p>{{ data.flags[0] }}</p>
        </ng-template>
        <ng-template #multiFlags>
          <ul *ngFor="let flag of data.flags">
            <li>{{ flag }},&nbsp;</li>
          </ul>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
<mat-divider class="modal-divider"></mat-divider>
<div mat-dialog-actions>
  <div
    class="modal-suggested-wrapper"
    *ngIf="data.suggestedJokes && data.suggestedJokes.length > 1"
  >
    <mat-list>
      <h3 mat-dialog-title>More jokes of this type:</h3>
      <mat-list-item
        [id]="suggested.id"
        class="modal-suggested-joke"
        *ngFor="let suggested of data.suggestedJokes"
      >
        <mat-icon mat-list-icon>sentiment_very_satisfied</mat-icon>
        <div mat-line>
          {{ suggested.type === "single" ? suggested.joke : suggested.setup }}
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <button mat-button mat-dialog-close (click)="closeModal()">Close</button>
</div>
