mat-grid-list {
  margin: 1rem;
  padding: 1rem 0;
}

mat-grid-tile {
  background: #dbd0c0;
}

mat-grid-tile:hover {
  cursor: pointer;
}

.joke-tile-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 0;
}

.joke-icon {
  max-width: 3.5vw;
  max-height: 3.5vh;
  padding-right: 0.5rem;
}

.joke-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
  margin: 0;
}

@media screen and (max-width: 500px) {
  mat-grid-list {
    margin: 0 1rem;
  }

  .joke-icon {
    max-width: 7vw;
    max-height: 3vh;
  }
}
