.login-card {
  margin: 2rem auto;
  width: 40vw;
  background-color: rgba(63, 81, 181, 0.08);
}

.login-form {
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-btn {
  padding: 0.5rem;
  color: white;
}

@media screen and (max-width: 500px) {
  .login-card {
    width: 80vw;
  }
}
