<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>
      {{ "login" | uppercase }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" />
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" />
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
      <button class="login-btn" type="submit" mat-button color="primary">
        Sign In
      </button>
    </form>
  </mat-card-content>
</mat-card>
